.container {
  background-color: #6fdc8c;
}

.dashboard {
  //   display: flex;
  justify-content: center;
  align-items: center;
  //   background-color: #24a148;
}
.card {
  //   background-color: #a8a8a8;
  width: 400px;
  margin-top: 35vh;
  margin-left: 40vh;
  border: 55px !important;
  border-radius: 30px !important;
  border: #000 !important;
}
