.card {
  border-radius: 25px;
  border: 2px solid #0b0b0b;
  padding: 20px;
  width: 200px;
  height: 100px;
}
.pdf {
  padding: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}
